/* css/semantics.css */
@layer semantics {
  body {
    color: var(--on-background);
  }
  article {
    padding: 20px 20px;
    color: var(--on-surface);
  }
  aside,
  nav,
  section {
    scrollbar-width: 0px;
    ::-webkit-scrollbar {
      display: none;
    }
  }
  .primary {
    color: var(--primary);
  }

  .secondary {
    color: var(--secondary);
  }
}
