@layer utilities {
  /* body {
    background-color: blue;
    background: blue;
  } */
  .no-scrollbar-indicator {
    box-shadow: inset -10px 0 10px -10px rgba(0, 0, 0, 0.2);
  }
  .no-scrollbar {
    @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
    /* Firefox */
    scrollbar-width: none;

    /* IE and Edge */
    -ms-overflow-style: none;

    /* Chrome, Safari, and Opera */
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
