---
draft: false
final: false
status: 'draft'
term: 'formal verification'
slug: 'formal-verification'
aliases: []
tags: ['discrete_math', 'applications', 'cs_theory']
domain: 'discrete_math'
structure: 'applications'
concept: 'cs_theory'
category: 'discrete_math'
subCategory: 'applications'
prerequisites: []
buildsUpon: []
leadsTo:
  [
    'modular-arithmetic',
    'algorithm-design',
    'data-structures',
    'graph-algorithms',
    'sorting',
    'prime-factorization',
    'rsa',
  ]
related: ['computability', 'complexity-theory']
seeAlso:
  [
    'function',
    'inverse-function',
    'substitution-method',
    'discrete-mathematics',
    'countable-structures',
    'logic',
    'proof',
    'set-theory',
    'foundation-of-computer-science',
    'formal-reasoning',
    'algorithm-correctness',
    'proposition',
    'logical-operators',
    'implication',
    'biconditional',
    'predicate',
    'quantifiers',
    'for-all',
    'there-exists',
    'domain-of-discourse',
    'truth-tables',
    'logical-equivalence',
    'inference-rules',
    'logical-proofs',
    'set',
    'element',
    'subset',
    'universal-set',
    'empty-set',
    'union',
    'intersection',
    'difference',
    'complement',
    'set-identities',
    'de-morgan-laws',
    'power-set',
    'relation',
    'reflexive',
    'symmetric',
    'transitive',
    'equivalence-relation',
    'injective',
    'surjective',
    'bijective',
    'permutations',
    'combinations',
    'factorial',
    'binomial-coefficient',
    'pigeonhole-principle',
    'inclusion-exclusion-principle',
    'multiplication-principle',
    'degree',
    'path',
    'cycle',
    'connectivity',
    'dag',
    'shortest-path',
    'divisibility',
    'prime-numbers',
    'greatest-common-divisor',
    'mod',
    'congruence',
    'modular-inverse',
    'euclidean-algorithm',
    'recurrence-relation',
    'initial-conditions',
    'closed-form',
    'recursion-tree-method',
    'master-theorem',
    'direct-proof',
    'proof-by-contradiction',
    'proof-by-contrapositive',
    'induction',
    'inductive-step',
    'strong-induction',
    'asymptotic-analysis',
    'finite-automata',
    'dfa',
    'nfa',
    'turing-machine',
    'regular-languages',
    'context-free-languages',
    'grammar',
  ]
useCases: []
createdAt: ''
updatedAt: '2026-05-03T22:01:16.848Z'
definition: ''
lockedFields: []
---

# FORMAL VERIFICATION

## Definition

TODO

## Intuition

TODO

## Related

computability, complexity-theory
